.container {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.quadrado {
    width:  100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    border: 1px solid red;
}

.botao {
    margin: 10px;
    font-size: large;
}